@use '../mixins/pseudo.scss' as *;
.underline {
  position: relative;

  &::after {
    @include pseudo(100%, 0.125rem) {
      left: 0;
      bottom: 0;
      background-color: var(--primary-color);
    }
  }

  &--big {
    &::after {
      @include pseudo(100%, 0.25rem) {
        left: 0;
        bottom: 0;
        background-color: var(--primary-color);
      }
    }
  }
}
