@use '../mixins/responsive.scss' as *;
.projects {
  display: grid;
  gap: 3rem 0;

  @include responsive(tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 2rem;
  }
}

.project-image {
  display: block;
  transform: scale(0);
  transition: transform 0.3s;
}

.tecnologies {
  display: flex;
  justify-content: space-between;
  width: 55%;
  font-size: 0.8rem;
  margin-bottom: 2rem;

  &__item {
  }
}
