:root {
  // Colors
  --bg-color: #151515;
  --dark-grey: #242424;
  --primary-color: #4ee1a0;
  --grey: #d9d9d9;
  --white: #ffffff;
}

$bg-color: #151515;
$dark-grey: #242424;
$primary-color: #4ee1a0;
$grey: #d9d9d9;
$white: #ffffff;
