@use 'base/normalize.scss';
@use 'base/initial-reset.scss';
@use 'blocks/body.scss';
@use 'blocks/header.scss';
@use 'blocks/logo.scss';
@use 'blocks/social-list.scss';
@use 'blocks/titles.scss';
@use 'blocks/texts.scss';
@use 'blocks/images.scss';
@use 'blocks/main.scss';
@use 'blocks/experience.scss';
@use 'blocks/projects.scss';
@use 'blocks/buttons.scss';
@use 'blocks/footer.scss';
@use 'blocks/forms.scss';

@use 'helpers/underline.scss';
@use 'helpers/no-margin.scss';
@use 'helpers/show.scss';
